.App{
    background-color: white;
    width: 30%;
    margin: 40px auto 0 auto;
    border-radius: 20px;
    text-align: center;
    padding: 55px;
    position: relative;
}

.about{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #112D4E;
}
